---
import { getCollection, type CollectionEntry } from "astro:content"
import { Image } from "astro:assets"

import { SITE_TITLE } from "@/config"
import Layout from "@/layouts/Blog.astro"
import FormattedDate from "@/components/FormattedDate.astro"

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }))
}

type Props = CollectionEntry<"posts">

const post = Astro.props
const { Content } = await post.render()
// const { title, description, pubDate, updatedDate, heroImage } = post.data
const title = `${post.data.title} | ${SITE_TITLE}`
---

<Layout title={title} description={post.data.description ?? ""} pageType="article">
  <article class="prose lg:prose-lg prose-img:rounded-lg prose-ul:m-0 prose-li:m-0 mx-auto">
    {post.data.heroImage && <Image src={post.data.heroImage} alt="" width={720} height={360} />}

    <div class="text-sm text-gray-600">
      {post.data.pubDate && <FormattedDate date={post.data.pubDate} />}
    </div>
    <h1>{post.data.title}</h1>

    <Content />
  </article>
</Layout>
